MarvelApp.xcworkspace/xcuserdata/alexanderrivero.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
MoviesAppSwift.xcodeproj/project.xcworkspace/xcuserdata/alexr.xcuserdatad/UserInterfaceState.xcuserstate
